<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <header><h1>Fooduo</h1></header>

    <section>
        <ul>
            <li>
                <h2>Samen koken</h2>
            </li>
            <li>
                <h2>Uiteten</h2>
            </li>
        </ul>
    </section>  

    <div>
        <label for="file">Voorkeuren</label>
        <progress id="file" value="32" max="100"> 32% </progress>
    </div>

    <footer>
    </footer>

    <script src="script.js"></script>

</body>
</html>