<section>
    <ul>
        <li>
            <h2>Samen koken</h2>
        </li>
        <li>
            <h2>Uiteten</h2>
        </li>
    </ul>
</section>

<div>
    <label for="file">Voorkeuren</label>
    <progress id="file" value="32" max="100"> 32% </progress>
</div>

<footer>
</footer>